{% extends "product/layout.html" %}

{% block body %}

<div style="padding-top: 108px;">
       <center><h2><b>REGISTER</b></h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="input-group col-xs-4">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control input-lg" autofocus type="text" name="username" placeholder="Username">
            </div>
            <br>
            <div class="input-group col-xs-4">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control input-lg" type="email" name="email" placeholder="Email Address">
            </div>
            <br>
            <div class="input-group col-xs-4">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control input-lg" type="password" name="password" placeholder="Password">
            </div>
            <br>
            <div class="input-group col-xs-4">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control input-lg" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <br>
            <input class="btn btn-primary btn-lg" type="submit" value="Register">
        </form>
    </br>
    
        Already have an account? <a href="{% url 'login' %}">LogIn here.</a>
    </center>
</div>

{% endblock %}